<!--The content below is only a placeholder and can be replaced.-->
<nav>
  <div class = "nav-bar">test</div>
  <h2 class = "nav-bar">Jun's Shopping</h2>
  <button class = "nav-bar">My Cart</button>

</nav>

<div id = "product-list">
  <div class = "product">
    <div class = "product-img"></div>
    <div class = "product-id"></div>
    <div class = "description"></div>
    <div class = "product-price"></div>
    <div class = "quantity">
      <button class = "minus"></button>
      <div class = "quantity-num"></div>
      <button class = "add"></button>
    </div>
    <button class = "selection">Selection</button>
    
  </div>
</div>

<div id = "mycart-list">

</div>
<footer>
  <div id= "footer-comp">
    <button class = "foot-button">Add to Cart</button>
    <button class = "foot-button">CLear My Cart</button>
    <div class = "total-field">Total price field</div>
  </div>

</footer>